.wrapper
    .banner
        .banner__logo
            img(src="./img/logo.svg" alt="favbet")
        .banner__pers
            picture
                source(media="(max-width: 1038px)" srcset="img/pers-one.png")
                source(media="(max-width: 1280px) and (min-height: 1240px)" srcset="img/pers-one.png")
                source(media="(max-width: 1706px) and (min-height: 1200px)" srcset="img/pers-tab.png")
                source(media="(max-width: 1440px)" srcset="img/pers-tab.png")
                img(src="./img/pers-desk.png" alt="favbet")
        .banner__info
            .banner__info-top
                .banner__date 16.11
                .banner__time 19:00
            .banner__info-bottom
                .banner__team Грузія
                .banner__team Україна